.advantage{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    &   .advItem{
        background-color: var(--secondMainColor);
        box-shadow: 0 0.2rem 10px rgba(0, 0, 0, 0.6);
        border-radius: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
        width:30%;
        height:8rem;
    }
}

@media (max-width: 600px) {
    .advantage {
        flex-direction: column;
        margin: 0.5rem 0;
        & .advItem{
            width: 100%;
        }
    }
}