@use 'Shared';
.advantage{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    .advItem{
            background-color: Shared.$secondMainColor;
            border-radius: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
    }
}