@use 'Shared.scss';
.border{
    border-left: solid 4px #07931C;
    padding-left: 0.5rem;
}
.captionTitle{
    color: Shared.$darkThemeTextColor;
    font-family: Shared.$firstFont;
}
.captionDesc{
    color: Shared.$darkThemeTextColor;
    font-style: italic;
    font-family: Shared.$secondFont;
}