@use 'Shared';
.content{
    .text{
        margin-top: 2rem;
    }

    .CV{
        width: 50%;
        margin-top: 2rem;
        margin-left: 50% ;
    }
    
    img{
        width: 50%;
        height: 20%;
    }
    h2{
            color: Shared.$darkThemeTextColor;
            font-family: Shared.$firstFont;
    }
}