@use 'Shared';
footer{
    margin-top: 5rem;
    width: 100%;
    height: 10vh;
    background-color: Shared.$secondMainColor;
    align-items: center;
    flex-wrap: wrap;
    p{
        font-style: italic;
    }
    a{
        color:inherit;
        text-decoration: none;
    }
    .contact{
        padding-right: 1rem;
    }
}