footer{
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
    width: 100%;
    background-color: var(--secondMainColor);
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0;
    & p{
        font-style: italic;
    }
    & a{
        color:inherit;
        text-decoration: none;
    }
    & .contact{
        padding-right: 1rem;
    }
}

@media (max-width: 600px){
    footer{
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0;
        text-align: center;
    }
    & p{
        padding: 1rem 0;
    }
}