@use 'Shared';

    header{
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        height: 70vh;
        // align-items: center;
        background: url('../assets/img/gabriel-santos-GBVDilE8yvI-unsplash.jpg') 0 60%/cover no-repeat border-box;
        box-shadow: 10px 10px 300px 300px rgba($color: #000000, $alpha: 0.5) inset;

        #navi{
            display:flex;
            height: 10%;
            width: 100%;
            position:fixed;
            

            #logo{
                width: 50%;
                align-self: center;
            }
            #img{
                width: 8rem;
                margin: 0 8rem;
            }

            nav{
                width: 50%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                flex-direction: row;
                align-content: center;

                a{
                text-decoration: none;
                color:white;
                padding: 0 2rem;
                text-align: center;
                font-size: larger;
                font-family: Shared.$secondFont;
                }

                a:hover{
                    padding-bottom: 0.5rem;
                    border-bottom: solid #07931C;
                }
            }
        
        }
        .bckgrnd{
            background-color: rgba(0,0,0, 0.75);
            border: solid 3px #CCCCCC;
            border-radius: 1rem;
        }
        #navi2{
            background-color: red;
        }
        
        #motto{
        display: flex;
        width: 50%;
        margin-left: 50%;
        color: white;
        margin-right: 20%;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        font-family: Shared.$firstFont;
        }
    }

