
.mainBackground {
  background: url('../assets/img/Header/headerMP.webp') center 60% / cover no-repeat border-box;
}

.secondBackground {
  background: url('../assets/img/Header/headerRest.webp') center 60% / cover no-repeat border-box;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70vh;
  box-shadow: 10px 10px 300px 300px rgba(0, 0, 0, 0.5) inset;

  & #motto {
    display: flex; 
    width: 50%; 
    margin-left: 50%; 
    margin-right: 20%; 
    justify-content: center; 
    flex-wrap: wrap; 
    flex-direction: column; 
    align-items: flex-start;
    font-family: var(--secondFont);

    & h1, p{
      color: var(--permWhite)
    }
  
  }
}


@media (max-width: 767px) {
  header {
    height: 40vh;

    & #motto {
        width: 100%;
        max-width: 95%;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        font-size: medium;
    }

    .mainBackground,
    .secondBackground {
        background-position: center center;
        background-attachment: scroll;
    }
    }   
}

@media(max-width: 730px){
    header {

    & #motto {
      margin-top: 3rem;
    }
  }
}