@use 'Shared';

    header{
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        height: 70vh;
        // align-items: center;
        background: url('../assets/img/gabriel-santos-GBVDilE8yvI-unsplash.jpg') 0 60%/cover no-repeat border-box;
        box-shadow: 10px 10px 300px 300px rgba($color: #000000, $alpha: 0.5) inset;
        
        #motto{
        display: flex;
        width: 50%;
        margin-left: 50%;
        margin-right: 20%;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        }
    }

