@use 'Shared';
.container{
    background-color: Shared.$secondMainColor;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 1rem;
    width: 20%;
    height: 40vh;
    img{
        width: 5em;
    }
    p{
        text-align: center;
        font-weight: bold;
        padding-top: 1rem;
    }
}
.container:hover{
    background-color: rgba(204, 204, 204, 0.07);
    width: 30%;
    border: 4px solid white;
}