.lang-wrapper {
  position: relative;
  display: inline-block;
}

.lang {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  font-weight: 500;
  position: relative;

  & p{
    font-family: var(--secondFont);
    color: #ffffff;
  }
}

.langBox {
  position: absolute;
  top: 100%; 
  left: 0;
  background-color: black;
  color: #ffffff;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 60px;
  text-align: center;
  margin-top: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.lang p {
  margin: 0;
  padding: 6px 0;
  cursor: pointer;
  transition: background-color 0.2s ease;
  color: var(--permWhite)
}

.langBox p:hover {
  background-color: #222;
}