
#serviceBox{
    display: flex;
    justify-content: space-around;
}

.border{
    border-left: solid 4px #07931C;
    padding-left: 0.5rem;
}
.captionTitle{
    color: var(--darkThemeTextColor);
    font-family: var(--firstFont);
}
.captionDesc{
    color: var(--darkThemeTextColor);
    font-style: italic;
    font-family: var(--secondFont);
}

h1{
    color: var(--darkThemeTextColor);
    font-family: var(--firstFont);
}

p{
    color: var(--darkThemeTextColor);
    font-family: var(--secondFont);
}

#ContactButton{
    margin-top:3rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    button{
        width: 20rem;
    }
}
@media(max-width: 900px){
    #serviceBox{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}