@use 'Shared.scss';
.flex{
    display: flex;
}
.flexAround{
    justify-content: space-around;
}

#content{
    margin: 0 5rem;
}
.marginContent{
    margin-top: 2rem;
}
.border{
    border-left: solid 4px #07931C;
    padding-left: 0.5rem;
}
.captionTitle{
    color: Shared.$darkThemeTextColor;
    font-family: Shared.$firstFont;
}
.captionDesc{
    color: Shared.$darkThemeTextColor;
    font-style: italic;
    font-family: Shared.$secondFont;
}

.box{
    display: flex;
    background-color: Shared.$secondMainColor;
    border-radius: 1rem;
    box-shadow: (0 0.4rem 60px #000000);
    img{
        width: 30%;
        height: 100%;
        border-radius: 1rem 0 0 1rem;
        box-shadow: (0.5rem 4px 17px #000000);
    }
    .desc{
        padding: 2rem;
        color: Shared.$darkThemeTextColor;
        font-family: 'Roboto';
    }
}

h1{
    color: Shared.$darkThemeTextColor;
    font-family: Shared.$firstFont;
}

p{
    color: Shared.$darkThemeTextColor;
    font-family: Shared.$secondFont;
}

#ContactButton{
    margin-top:3rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    button{
        width: 20rem;
    }
}