 @use 'Shared';
 .navi{
            display:flex;
            height: 10%;
            width: 100%;
            position:fixed;
            
            >div{
                width: 80%;
                margin-left: 4rem;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-wrap: wrap;
                flex-direction: row;
            }

            #logo{
                width: 30%;
                align-self: center;
            }
            #img{
                width: 8rem;
                margin: 0 4em;
            }

            nav{
                width: 50%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                flex-direction: row;
                align-content: center;

                a{
                text-decoration: none;
                color:white;
                padding: 0 2rem;
                text-align: center;
                font-size: larger;
                font-family: Shared.$secondFont;
                }

                a:hover{
                    padding-bottom: 0.5rem;
                    border-bottom: solid #07931C;
                }
            }
        
        }
        .bckgrnd{
            background-color: rgba(0,0,0, 0.75);
            border: solid 3px #CCCCCC;
            height: 5rem;
            margin-top: 0.5rem;
            border-radius: 1rem;
        }
        #Tooltip{
            margin: 0.5rem 4rem;
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;
            flex-wrap: wrap;
            .lang{
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: row;
            }
        }