@use 'Shared';
.contentBox{
    text-align: center;
    background-color: Shared.$secondMainColor;
    width: 40%;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: (0 0.4rem 60px #000000);
    justify-content: space-around;
    img{
        width: 7rem;
    }
    .contentText{
        font-weight: 300;
        margin: 2rem;
        font-size:large;
    }
}