@import url('/src/styles/Shared.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: var(--firstMainColor);
}

.infoBox{
    display: flex;
    justify-content: space-around;
}

.flex{
    display: flex;
}
.flexAround{
    justify-content: space-around;
}

#content{
    margin: 0 5rem;
}
.marginContent{
    margin-top: 2rem;
}



.box{
    width: 100%;
    display: flex;
    background-color: var(--secondMainColor);
    border-radius: 1rem;
    box-shadow: var(--boxShadow);
    & .MPAbout{
    background-image: url('./assets//img/MP/aboutMP.webp');
    
        background-size: cover;
    }
    & .transService{
        background-image: url('./assets/img/supply-chain-representation-still-life.jpg');
        background-size: cover;
        background-position: center;
    }
    & .secondImgService{
        background-image: url('./assets/img/top-view-delivery-truck-with-copy-space.jpg');
        background-size: cover;
        background-position: center;
    }
    & .aboutCmp{
        background-image: url('./assets/img/About/OurHis.webp');
        background-size: cover;
        background-position: center;
    }
    & .missionCmp{
        background-image: url('./assets/img/About/ourMission.webp');
        background-size: cover;
        background-position: center;
    }
    & .leftSide{
        width: 30%;
        border-radius: 1rem 0 0 1rem;

    }
        & .rightSide{
        width: 30%;
        border-radius: 0 1rem 1rem 0;

    }

    .descBox{
        width: 70%;
    }
    & .desc{
        padding: 2rem;
        width: 100%;
        color: var(--ThemeTextColor);
        font-family: var(--secondFont);
        font-size: larger;
        font-weight: 300;
    }
}
    
h1{
    color: var(--ThemeTextColor);
    font-family: var(--firstFont);
}

p{
    color: var(--ThemeTextColor);
    font-family: var(--secondFont);
}

#ContactButton{
    margin-top:3rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & button{
        width: 20rem;
    }
}

@media (max-width: 1024px){
    .box{
        & .desc{
            font-size: medium;
        }
    }
}



@media (max-width: 768px){
    #content{
        margin: 0 !important;
    }
    
}

@media (max-width: 900px){
    .box{
        width: 100%;
        border-radius: 0;
        flex-direction: column;
        & .leftSide{
            background-size: cover;
            background-position: 0% 20%;
            border-radius: 0;
            width: 100%;
            height: 30vh;
        }
        & .transService{
            background-position: center;
        }
        & .rightSide{
            background-size: cover;
            background-position: 0% 20%;
            border-radius: 0;
            width: 100%;
            height: 30vh;
        }
        & .descBox{
            width: 100%;
        }
    }
    .infoBox{
        flex-wrap: wrap;
    }
}

@media (max-width: 600px){
        .infoBox{
        flex-direction: column;
        align-items: center;
    }
}