@import url('/src/styles/Shared.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--firstMainColor);
}

.infoBox{
    display: flex;
    justify-content: space-around;
}

.flex{
    display: flex;
}
.flexAround{
    justify-content: space-around;
}

#content{
    margin: 0 5rem;
}
.marginContent{
    margin-top: 2rem;
}


.box{
    width: 100%;
    display: flex;
    background-color: var(--secondMainColor);
    border-radius: 1rem;
    box-shadow: (0 0.4rem 60px #000000);
    & img{
        width: 30%;
        height: 100%;
        border-radius: 1rem 0 0 1rem;
        box-shadow: (0.5rem 4px 17px #000000);
    }
    .descBox{
        width: 100%;
    }
    & .desc{
        padding: 2rem;
        color: var(--darkThemeTextColor);
        font-family: 'Roboto';
    }
}
    
h1{
    color: var(--darkThemeTextColor);
    font-family: var(--firstFont);
}

p{
    color: var(--darkThemeTextColor);
    font-family: var(--secondFont);
}

#ContactButton{
    margin-top:3rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & button{
        width: 20rem;
    }
}

@media (max-width: 1000px) {
    .box{
        & img{
            width: 30%;
            height: auto;
        }
    }
}


@media (max-width: 768px){
    #content{
        margin: 0 !important;
    }
    .box{
        border-radius: 0;
        & img{
            border-radius: 0;
        }
        & .desc{
            font-size: small;
        }
    }
}

@media (max-width: 600px){
        .infoBox{
        flex-direction: column;
        align-items: center;
    }
}