.border{
    border-left: solid 4px #07931C;
    padding-left: 0.5rem;
}
.captionTitle{
    color: var(--ThemeTextColor);
    font-family: var(--firstFont);
}
.captionDesc{
    color: var(--ThemeTextColor);
    font-style: italic;
    font-family: var(--secondFont);
}
@media(max-width:768px){
    .leftMargin{
        margin-left: 1rem;
    }
}