
.contentBox{
    margin-top: 2rem;
    text-align: center;
    background-color: var(--secondMainColor);
    width: 40%;
    border-radius: 1rem;
    padding: 2rem 0;
    box-shadow: var(--boxShadow);
    &   img{
        width: 7rem;
    }
    &   .contentText{
        font-weight: 300;
        margin: 2rem;
        font-size:large;
    }
}

@media (max-width: 900px){
    .contentBox{
        width: 100%;
        &   img{
        width: 5rem;
        }
        & .contentTitle{
            font-size: larger;
        }
        &   .contentText{
            margin: 1rem;
            /* font-size:; */
        }
    }
}
@media (max-width: 768px){
    .contentBox{
        width: 100%;
        border-radius: 0;
    }
}