.bg {
  fill: rgba(187, 64, 64, 0);
  transition: fill 0.4s ease;
}
.circle {
  transition: cx 0.4s ease, fill 0.4s ease;
}
.sun, .moon {
  transition: opacity 0.4s ease;
}
.moon {
  opacity: 0;
}
.light .bg {
  fill: #e2e8f0;
}
.light .circle {
  cx: 45px;
  fill: #1e293b;
}
.light .sun {
  opacity: 0;
}
.light .moon {
  opacity: 1;
}
